<div class="container-fluid">
  <div class="main">
    <div class="side-bar" style="color: white; align-content: center">
      <div style="height: 15%">
        <h3><i class="fas fa-comments"></i> Group Messenger </h3>
      </div>
      <div class="row" style="padding-left: 25px; margin-bottom: 20px">
        <h4>List User</h4>
        <i class="fas fa-sms"></i>
      </div>
      <div style="padding-left: 50px; margin-bottom: 10px" *ngFor="let user of users">
        <div class="row">
          <img [src]="user.avatar" height="55" width="55">
          <button type="button" (click)="changeUser(user)" class="btn btn-secondary">{{user.userName}}</button>
        </div>
        <div>
          <small id="emailHelp" class="form-text text-muted">{{user.status}}</small>
        </div>
      </div>
      <div class="status">
        <form [formGroup]="statusFrom" (ngSubmit)="changeStatus()">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Status</span>
            </div>
            <textarea class="form-control" placeholder="Enter your status"
                      formControlName="status" [(ngModel)]="contentStatus"></textarea>
            <button type="submit" class="btn btn-secondary">Send</button>
          </div>
        </form>
      </div>
    </div>
    <div class="window-chat">
<!--      <div class="top-bar">-->
<!--        <button type="button" class="btn btn-secondary"><i class="fas fa-comment-dots"></i></button>-->
<!--        <button type="button" class="btn btn-secondary"><i class="fas fa-phone"></i></button>-->
<!--        <button type="button" class="btn btn-secondary"><i class="fas fa-video"></i></button>-->
<!--      </div>-->
      <div class="allMess row" *ngFor="let msg of messenger">
        <div><img [src]="msg.userSend.avatar" height="55" width="55"/></div>
        <div class="mess" style="position: relative; left: 0px">{{msg.content}}</div>
      </div>
      <div class="typing">
        <form (ngSubmit)="addMessenger()" [formGroup]="messengerForm">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="far fa-images"></i></span>
            </div>
            <input type="text" class="form-control"
                   formControlName="messenger" [(ngModel)]="content"
                   placeholder="Enter your messenger" aria-label="Username" aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-dark">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
