.main{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.side-bar{
  background-color: springgreen;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
}

.window-chat{
  background-color: white;
  position: relative;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100vmax;
  z-index: 1;
}
.typing{
  position: fixed;
  width: 1340px;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.allMess{
  align-content: center;
  margin-left: 10px;
  z-index: 10;
}
.mess{
  background-color: darkturquoise;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  color: white;
  width: 50%;
}
.top-bar{
  background-color: white;
  width: 100%;
  position: fixed;
  left: 1450px;
}
.status{
  position: absolute;
  bottom: 0;
}
